/* Основные стили для body: центрирование контента, высота экрана и шрифт */
body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    gap: 40px;
}

/* ????????????????????????????????????????????? */
/* ????????????? Стиль карточки №2 ????????????? */
/* ????????????????????????????????????????????? */

/* Контейнер — создает 3D пространство */
.card-container {
    width: 250px;
    height: 350px;
    perspective: 1000px; /* Глубина 3D */
    transition: transform 0.7s ease, box-shadow 0.7s ease;
    cursor: pointer;
}
.card-container:hover{
    transform: scale(1.05);
}

/* Внутренний блок — именно он будет вращаться через JS */
.tilt-target {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
    transition: transform 0.1s ease-out, box-shadow 0.3s ease;
    transform-style: preserve-3d; /* Позволяет дочерним элементам быть в 3D */
    overflow: hidden;
    background-color: #1a1a1a;
}

/* Эффект при наведении на контейнер */
.card-container:hover .tilt-target {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Чтобы картинка не ломала скругление углов */
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Эффект блика */
.glare {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), 
                rgba(255,255,255,0.2) 0%, transparent 70%);
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 5;
}

/* Затемнение поверх блока*/
/* .card-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.808);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}
.card-container:hover::after{
    opacity: 1;
} */

/* Звезда рейтинга */
.card_star{
    position: absolute;
    background-color: rgba(208, 208, 208, 0.664);
    color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 0px 5px 20px 5px;
    font-size: 1.1rem;
    font-weight: bold;
}
