/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Настройки для отображения подвала */
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Занимает всю высоту экрана */
}

.main-content {
    flex: 1; /* Растягивает контент, прижимая подвал вниз */
}
