/* Тело */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    /* background-color: rgb(34, 34, 34); */
}

/* Шапка */
header {
    display: flex;
    align-items: center;     /* Выравнивание по центру вертикально */
    line-height: normal;
    gap: 10px 40px;
    background-color: rgba(230, 230, 230, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 90px; /* скругление углов */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* мягкая тень */
    margin: 20px; 
    width: calc(100% - 40px);
    position: sticky;
    z-index: 100;
    top: 10px;
    box-sizing: border-box;
    padding: -2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

header:hover {
    background-color: rgba(230, 230, 230, 0.6);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.12); /* усиление тени */
    transition: all 0.3s ease ; /* плавность */
}

.logo img{
    border-radius: 100%;
    margin-left: 18px;
    width: 70px;
    height: 100%;
    object-fit: contain;
    display: flex;
}

/* .logo:hover {
    box-sizing:
} */
nav {
    height: 60px;
    width: 100%;

}

/* Навигация */
nav ul {
    display: flex;
    align-items: center;
    height: auto;
    margin-left: 100px;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    width: 200px;
    height: 40px;
    display: inline;
    margin-right: 120px;
    margin-top: -10px;
    /* transition: transform 0.3s ease; */
}

/* nav ul li:hover {
     background-color: rgba(197, 197, 197, 0.6);
    backdrop-filter: blur(12px);
    transition: all 0.3s ease;
    transform: scale(1.1); 
} */

nav a {
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    border-width: 100px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, all 0.3s ease;
}

nav a:hover {
    background-color: rgba(197, 197, 197, 0.6);
    backdrop-filter: blur(12px);
    transition: all 0.3s ease;
}

/* Основное содержимое */
main {
    margin-left: 100px;
    padding: 20px;
    flex: 1;
}

/* Окно с содержимым */
.base-win {
    display: flex;
    width: 100%;
}

/* Cелектор с тайлами */
.mine-selector {
    width: 65%;
}

/* Поисковой селектор */
.search-selector {
    width: 35%;
}

/* Блок с поиском */
.search-box {
    display: grid;
    margin-right: 100px;
    margin-top: 20px;
    min-width: 400px;
    max-width: 600px;
    background-color: rgba(230, 230, 230, 0.6);
    border-radius: 20px;

}

.search-box-text {
    margin: 20px;

}

.search-container {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: auto;   
}
#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
#results {
    list-style-type: none;
    padding: 0;
}
.result-item {
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 5px;
    border-radius: 4px;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}


/* Сетка для плиток */
.tile-list {
    margin-left: -20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); /* Автоподбор кол-ва колонок */
    gap: 20px; /* Расстояние между плитками */
    padding: 20px;
    justify-content: left;
    
}

/* Контейнер для загрузки изображения */
.upload-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    /* margin-left: 100px; */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.upload-container:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: #666;
}

#file-input {
    display: none;
}

#preview {
    max-width: 100%;
    max-height: 100%;
    display: none;
    border-radius: 10px;
}

/* Параметры для нового блока */
.new-tile-data{
    margin-top: 20px;
    display: grid;
}

/* Обычное поле для заполнения */
.input-description-lile{
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: rgba(230, 230, 230, 0);
    background-color: rgba(230, 230, 230, 0.6);
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    transition: border-color 0.3s; 
}

.input-description-lile:focus{
    border-color: rgba(230, 230, 230, 0.6);
    outline: none;
    box-shadow: 0 0 3px rgba(74, 144, 226, 0.3);
}

/* Большое поле для заполнения */
.input-description-lile-huge{
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    margin-bottom: 100px;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: rgba(230, 230, 230, 0);
    background-color: rgba(230, 230, 230, 0.6);
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    transition: border-color 0.3s; 
    resize: none;
}

.input-description-lile-huge:focus{
    border-color: rgba(230, 230, 230, 0.6);
    outline: none;
    box-shadow: 0 0 3px rgba(74, 144, 226, 0.3);
}

/* Выпадающий список */
.tile-select-data{
    font-family: sans-serif;
    font-size: 30px;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: rgba(230, 230, 230, 0);
    background-color: rgba(230, 230, 230, 0.6);
    backdrop-filter: blur(12px);
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
}

.tile-select-data:hover {
    background-color: rgba(235, 235, 235, 0.9);
    border-color: rgba(200, 200, 200, 0.5);
  }

  /* Стиль при фокусе */
.tile-select-data:focus {
    outline: none;
    border-color: rgba(180, 180, 180, 0.8);
    box-shadow: 0 0 0 3px rgba(200, 200, 200, 0.3);
  }

.select-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
  }

  .select-wrapper::after {
    content: "▼";
    font-size: 0.8rem;
    color: #666;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

.tile-select-data-tile{
    padding: 12px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    border-bottom: 1px solid #eee;
}

.tile-select-data-tile:hover {
    background: #f0f0f0;
}

.tile-select-data-tile:checked {
    background: linear-gradient(#f0f0f0, #f0f0f0);
}



section {
    margin-bottom: 20px;
}

/* Подвал */
footer {
    border-radius: 90px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
    max-width: calc(100% - 40px);
    background-color: rgba(230, 230, 230, 0.5);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: calc(100% - 40px);
    
}


/* Блок рейтигна */
.rating {

    font-size: 30px;
    cursor: pointer;
}
.star {
    color: #ccc;
    transition: color 0.2s;
}
.star:hover,
.star.active {
    color: #ffcc00;
}
.rating-value {
    font-size: 20px;
    margin-left: 10px;
    color: #666;
}