/** 
 * Style: style.css
 * Type: main
 * Autor: Vitner4
**/

/*! общая настройка !*/
*{ 
margin: 0; 
padding: 0;
}

/*!----ТЕCОВАЯ КНОПКА-----!*/
#TestButton{
  width: 200px;
  height: 100px;
  border: solid; 
  border-radius: 50px;
  border-color: rgb(179, 70, 56);
  background-color: rgb(179, 70, 56);
  box-shadow: 4px 4px 4px rgb(159, 157, 157);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-inline: auto;
  margin-top: 250px;

  color: rgb(255, 255, 255);
  font-size: 20px;  
}#TestButton:hover{
    background-color: rgb(129, 49, 39);   
    border-color: rgb(129, 49, 39); 
}

/*! Content block slyle !*/
#contentBlock{
  width: 250px;
  height: 200px;
  border: solid;
  border-radius: 50px;
  background-color: rgb(34, 172, 247);
  color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
}
